<h2>Word counter</h2>
<form action='/result'>
  <div class="form-group">
    <label for="word_counter">Enter your text</label>
    <input id="word_counter" name="word_counter" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="word_counter2">Enter the word to be counted</label>
    <input id="word_counter2" name="word_counter2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
